@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Header section */

header{

    position: relative;

}

header a{

    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    font-family: "Host Grotesk", sans-serif;
    font-weight: bold;
    color: #6C63FF;

}

/* Header section */

/* Body section */

.body{

    padding: 50px;

}

.header{

    margin-top: 30px;

}

.header h1{

    text-align: center;
    font-size: 50px;
    font-family: "Newsreader", serif;
    color: #2D9CDB;
    text-transform: uppercase;

}

.content{

    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.card{

    width: 350px;
    height: 830px;
    overflow: hidden;
    border: 3px solid #2D9CDB;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.406);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

.card:hover{

    transform: scale(1.05)translateY(-10px);
    box-shadow: 0 0 15px #2D9CDB;

}

.card-img i{

    margin-top: 20px;
    font-size: 60px;
    border: 3px solid white;
    padding: 15px;
    border-radius: 50%;

}

.card-content h2{

    margin-top: 20px;

}

.card-content p{

    font-size: 18px;

}

.card-content h4{

    font-size: 22px;
    margin-top: 10px;
    color: #6C63FF;
    font-weight: bold;

}

.card-content ul{

    text-align: start;
    padding: 15px;
    color: #2D9CDB;
    font-weight: bold;
    font-family: "Host Grotesk", sans-serif;
    font-size: 17px;

}

.bottom{

    margin-bottom: 25px;

}

.card-content a{

    text-decoration: none;
    margin-top: 20px;
    font-family: "Host Grotesk", sans-serif;
    font-size: 22px;
    color: #2D9CDB;
    border: 3px solid #2D9CDB;
    padding: 10px;
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out;

}

.card-content a::before{

    content: "";
    width: 100%;
    height: 100%;
    background-color: #2D9CDB;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s ease-in-out;

}

.card-content a:hover{

    box-shadow: 0 0 15px #2D9CDB;
    color: black;

}

.card-content a:hover::before{

    opacity: 100%;

}

/* Body section */

@media (max-width:500px){

    .header h1{

        font-size: 35px;

    }

}
